.sl-container{
 height: 40%;
 .sl-tab{
   height: 13%;
   width: 100%;
   background-color:  rgb(112, 111, 111);
   margin: 0;
   .tab{
   text-align: center;
   color: rgb(216, 216, 216);
   font-size: 15px;
   font-weight: 100;
   padding-top: 0.5%;
   height: 100%;
  }
  .active{
    border-bottom: 2px solid rgb(214, 120, 13);
    font-weight: 500;
  }
 }
 .slider{
   height: 87%;
   position: relative;
   display: flex;
   justify-content: center;
 }
  .arrow-holder-l{
    display: none;
    background-color: rgba(214, 120, 13, 0.513);
    position: absolute;
    top: 47%;
    left: 5em;
    padding: 30px;
    border-radius: 50%;
 }
 .arrow-l{
   display: none;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right:20px solid #fff;
    position: absolute;
    top: 50%;
    left: 6%;
 }
 .arrow-r{
   display: none;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #fff;
    position: absolute;
    top: 50%;
    right: 6%;
 }
   .arrow-holder-r{
     display: none;
      background-color: rgba(214, 120, 13, 0.513);
      position: absolute;
      top: 47%;
      right: 5em;
      padding: 30px;
      border-radius: 50%;
 }
}


@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .sl-container{
      height: 43%;
      .sl-tab{
        .tab{
        font-size: 33px;
        padding-top: 2.5%;
        }
        .active{
          border-bottom: 4px solid rgb(214, 120, 13);
        }
      }
      .slider{
        height: 75%;
        position: relative;
        display: flex;
        justify-content: center;
      }
      .scrollable{
        overflow-x: hidden;
        display: -webkit-box;
        margin: 6%;
      }
      .arrow-holder-l{
        display: block;
        top: 48%;
        left: 2em;
        padding: 40px;
        border-radius: 50%;
      }
      .arrow-l{
        display: block;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-right:30px solid #fff;
        top: 50%;
        left: 5%;
      }
      .arrow-r{
        display: block;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 30px solid #fff;
        top: 50%;
        right: 5%;
      }
      .arrow-holder-r{
        display: block;
        top: 48%;
        right: 2em;
        padding: 40px;

      }

    }

}
