.sl-container{
 background-color: blue;
 height: 40%;
}


@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .sl-container{
      background-color: blue;
      height: 50%;
    }




}
