<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>Coding test</title>
</head>

<body>
  <div class="contain">
    <div class="loading">
      <p class="load-msg">Loading...</p>
    </div>
    <div id="root" class="wait"></div>
  </div>

</body>
<script>
  const root = document.querySelector('#root');
  const loading = document.querySelector('.loading');
  setTimeout(function () {
    root.classList.remove("wait");
    loading.classList.add("wait");
  }, 3000);
</script>

</html>
